<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="完整装配">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.13389 -0.19197 -0.11963"
        rpy="0 0 0" />
      <mass
        value="0.12999" />
      <inertia
        ixx="0.00018844"
        ixy="4.397E-12"
        ixz="1.5065E-09"
        iyy="0.00025107"
        iyz="-2.3705E-12"
        izz="0.00018845" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.012534 0.15187 5.9143E-05"
        rpy="0 0 0" />
      <mass
        value="0.070437" />
      <inertia
        ixx="5.7546E-05"
        ixy="-2.2771E-05"
        ixz="-5.8032E-08"
        iyy="5.9167E-05"
        iyz="-1.1118E-08"
        izz="7.0925E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.13389 0.11963 -0.22152"
      rpy="1.5708 0 1.5803" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.069146 0.20168 -0.054879"
        rpy="0 0 0" />
      <mass
        value="0.10151" />
      <inertia
        ixx="0.00021943"
        ixy="1.766E-05"
        ixz="-3.0587E-05"
        iyy="0.00018807"
        iyz="6.6858E-05"
        izz="0.00011004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.0002 0.085 -0.14722"
      rpy="1.0472 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.069146 0.20168 -0.054879"
        rpy="0 0 0" />
      <mass
        value="0.10151" />
      <inertia
        ixx="0.00021943"
        ixy="1.766E-05"
        ixz="-3.0587E-05"
        iyy="0.00018807"
        iyz="6.6858E-05"
        izz="0.00011004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.0698 0.3065 0.058024"
      rpy="-1.0472 0 -3.1416" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.093367 0.27305 0.011508"
        rpy="0 0 0" />
      <mass
        value="0.051224" />
      <inertia
        ixx="3.1938E-05"
        ixy="1.2161E-09"
        ixz="-7.1829E-06"
        iyy="2.9037E-05"
        iyz="-1.9666E-08"
        izz="2.9661E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.0698 -0.014925 -0.2257"
      rpy="2.618 0 -3.1416" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="0.10005 0.28205 0.088844"
        rpy="0 0 0" />
      <mass
        value="0.065023" />
      <inertia
        ixx="4.2585E-05"
        ixy="-5.59E-09"
        ixz="6.6659E-08"
        iyy="3.2345E-05"
        iyz="6.4785E-06"
        izz="5.2024E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.373 0.173 0.0002"
      rpy="0 0 1.5708" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="0.1 0.22617 0.094652"
        rpy="0 0 0" />
      <mass
        value="0.019276" />
      <inertia
        ixx="3.9018E-06"
        ixy="1.0225E-13"
        ixz="-1.0325E-12"
        iyy="7.1403E-06"
        iyz="-1.2508E-09"
        izz="3.8295E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://完整装配/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="-0.032596 -0.0002 0.057007"
      rpy="0 0.48071 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="1" />
  </joint>
</robot>